Repository stuartshay/terraform-azure-modules: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-version-validation, terraform-test, terraform-test-changed

.pre-commit-config.yaml:

# Terraform Azure Modules Pre-commit Configuration
# This file configures pre-commit hooks for Terraform module development

repos:
  # General file formatting and checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict

  # Terraform formatting and validation
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.100.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
      - id: terraform_validate
        args:
          - --args=-json
          - --args=-no-color
        exclude: '(.*/examples/.*|examples/.*)'
      - id: terraform_docs
        args:
          - --hook-config=--path-to-file=README.md
          - --hook-config=--add-to-existing-file=true
          - --hook-config=--create-file-if-not-exist=true
      - id: terraform_tflint
        args:
          - --args=--config=${PWD}/.tflint.hcl
      - id: terraform_checkov
        args:
          - --args=--framework=terraform
          - --args=--config-file=${PWD}/.checkov.yaml
        exclude: '(.*/examples/.*|examples/.*)'

  # Terraform testing
  - repo: local
    hooks:
      - id: terraform-version-validation
        name: Terraform Version Validation
        entry: scripts/validate-terraform-version.sh
        language: system
        files: '\.terraform-version$|modules/.*/versions\.tf$|modules/.*/examples/.*/main\.tf$|\.github/workflows/.*\.yml$'
        pass_filenames: false
        description: 'Validate .terraform-version consistency with module requirements, example files, and provider versions'
      - id: terraform-test
        name: Terraform Test (All Modules)
        entry: make terraform-test
        language: system
        files: '\.tf$|\.tftest\.hcl$'
        pass_filenames: false
        always_run: false
        description: 'Run Terraform tests for all modules'
      - id: terraform-test-changed
        name: Terraform Test (Changed Modules Only)
        entry: scripts/pre-commit-terraform-test.sh
        language: system
        files: '^modules/.*\.(tf|tftest\.hcl)$'
        pass_filenames: true
        description: 'Run Terraform tests only for modules with changed files'

  # Security scanning
  - repo: https://github.com/aquasecurity/tfsec
    rev: v1.28.14
    hooks:
      - id: tfsec
        args:
          - --soft-fail

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  # GitHub Actions linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
        args:
          - '-config-file'
          - 'actionlint.yaml'

# Configuration for specific hooks
default_language_version:
  python: python3

# Exclude patterns
exclude: |
  (?x)^(
    \.terraform/.*|
    \.terragrunt-cache/.*|
    terraform\.tfstate.*|
    \.terraform\.lock\.hcl
  )$

Update Applcation Insights
  modules/application-insights-network/.terraform.lock.hcl
  modules/application-insights-network/README.md
  modules/application-insights-network/examples/basic/README.md
  modules/application-insights-network/examples/basic/main.tf
  modules/application-insights-network/examples/basic/outputs.tf
  modules/application-insights-network/main.tf
  modules/application-insights-network/outputs.tf
  modules/application-insights-network/variables.tf
  modules/application-insights-network/versions.tf
  modules/application-insights/README.md
  modules/application-insights/main.tf
  modules/application-insights/outputs.tf
  modules/application-insights/variables.tf
Due: terraform-version-validation, terraform-test, terraform-test-changed

Update Applcation Insights
  modules/application-insights-network/README.md
  modules/application-insights-network/examples/basic/README.md
  modules/application-insights-network/examples/basic/main.tf
  modules/application-insights-network/examples/basic/variables.tf
  modules/application-insights-network/main.tf
  modules/application-insights-network/variables.tf
Due: terraform-version-validation, terraform-test, terraform-test-changed

Update Applcation Insights
  modules/application-insights-network/examples/basic/variables.tf
Due: terraform-test, terraform-test-changed

Update Applcation Insights
  .github/workflows/terraform-cloud-deploy.yml
Due: terraform-version-validation

Update modules/application-insights-network/variables.tf
  modules/application-insights-network/variables.tf
Due: terraform-test, terraform-test-changed

Update Applcation Insights
  README.md
Due: none

Update Readme
  README.md
Due: none

Update Readme
  .github/dependabot.yml
Due: none

Update
  modules/service-bus/README.md
  modules/service-bus/main.tf
Due: terraform-test, terraform-test-changed

Update
  README.md
Due: none

Update README.md
  README.md
Due: none

Update
  README.md
  scripts/auto-version.sh
  scripts/test-publish-module.sh
Due: none

Update
  .github/instructions/memory.instruction.md
  install.sh
  modules/application-insights-billing/.terraform.lock.hcl
  modules/application-insights-billing/README.md
  modules/application-insights-billing/examples/basic/README.md
  modules/application-insights-billing/examples/basic/main.tf
  modules/application-insights-billing/examples/basic/outputs.tf
  modules/application-insights-billing/examples/basic/variables.tf
  modules/application-insights-billing/examples/complete/README.md
  modules/application-insights-billing/examples/complete/main.tf
  modules/application-insights-billing/examples/complete/outputs.tf
  modules/application-insights-billing/examples/complete/variables.tf
  modules/application-insights-billing/main.tf
  modules/application-insights-billing/outputs.tf
  modules/application-insights-billing/tests/basic.tftest.hcl
  modules/application-insights-billing/variables.tf
  modules/application-insights-billing/versions.tf
  modules/application-insights-function/.terraform.lock.hcl
  modules/application-insights-function/README.md
  modules/application-insights-function/examples/basic/README.md
  modules/application-insights-function/examples/basic/main.tf
  modules/application-insights-function/examples/basic/outputs.tf
  modules/application-insights-function/examples/basic/variables.tf
  modules/application-insights-function/examples/complete/README.md
  modules/application-insights-function/examples/complete/main.tf
  modules/application-insights-function/examples/complete/outputs.tf
  modules/application-insights-function/examples/complete/variables.tf
  modules/application-insights-function/main.tf
  modules/application-insights-function/outputs.tf
  modules/application-insights-function/tests/basic.tftest.hcl
  modules/application-insights-function/variables.tf
  modules/application-insights-function/versions.tf
Due: terraform-version-validation, terraform-test, terraform-test-changed

Update
  install.sh
  modules/application-insights-function/examples/complete/README.md
  modules/application-insights-function/examples/complete/main.tf
Due: terraform-version-validation, terraform-test, terraform-test-changed

Update
  modules/application-insights-billing/main.tf
  modules/application-insights-billing/tests/basic.tftest.hcl
  modules/application-insights-billing/tests/setup.tftest.hcl
  modules/application-insights-function/README.md
  modules/application-insights-function/examples/complete/README.md
  modules/application-insights-function/examples/complete/main.tf
  modules/application-insights-function/main.tf
  modules/application-insights-function/outputs.tf
Due: terraform-version-validation, terraform-test, terraform-test-changed

Update
  modules/application-insights-function/examples/basic/.terraform.lock.hcl
  modules/application-insights-function/examples/basic/README.md
  modules/application-insights-function/examples/basic/main.tf
  modules/application-insights-function/examples/complete/.terraform.lock.hcl
  modules/application-insights-function/examples/complete/README.md
  modules/application-insights-function/examples/complete/main.tf
  modules/application-insights-function/examples/complete/outputs.tf
Due: terraform-version-validation, terraform-test, terraform-test-changed

Update
  .github/workflows/terraform-cloud-deploy.yml
Due: terraform-version-validation

Update
  .github/dependabot.yml
Due: none

Update .github/workflows/terraform-cloud-deploy.yml
  .github/workflows/terraform-cloud-deploy.yml
Due: terraform-version-validation

Update scripts/update-readme-version.sh
  scripts/update-readme-version.sh
Due: none

Update
  .github/workflows/terraform-cloud-deploy.yml
  scripts/update-readme-version.sh
Due: terraform-version-validation

docs: update app-service-plan-function version to 1.1.82 in README.md
  README.md
Due: none

Update
  .github/copilot-instructions.md
Due: none

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Update
  .github/workflows/copilot-setup-steps.yml
  docs/COPILOT_SETUP.md
Due: terraform-version-validation

Update
  modules/networking/examples/basic/.terraform.lock.hcl
  modules/networking/examples/basic/README.md
  modules/networking/examples/complete/.terraform.lock.hcl
  modules/networking/examples/complete/README.md
  modules/storage-account/examples/basic/.terraform.lock.hcl
  modules/storage-account/examples/basic/README.md
  modules/storage-account/examples/complete/.terraform.lock.hcl
  modules/storage-account/examples/complete/README.md
Due: none

docs: update container-instances version to 1.1.83 in README.md
  README.md
Due: none
